.contacts__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    color: #111111;
    text-transform: uppercase;
  }

  .contacts__adress {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #444444;
    margin-left: 266px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .contacts__adress {
    margin-left: 87px;
    text-align: left;
  }
}
