.links__logo {
  align-items: center;
}

.links__logo-svg {
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.links__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 132px;
  margin-top: 20px;
  margin-bottom: 21px;
}
