.main-header__menu__list-item {
  padding: 22px 0 24px 0;
  border-top: 1px solid #e6e6e6;
}

.main-header__menu__list {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.main-header__menu__list-item-link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-header__menu-burger--hidden {
  position: relative;
  width: 24px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.main-header__menu-svg-cat-energy {
  align-self: center;
}

.main-header__menu-burger--hidden::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  top: 20px;
  left: 0;
  transform: rotate(45deg);
}

.main-header__menu-burger--hidden::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  top: 20px;
  left: 0;
  transform: rotate(-45deg);
}

@media (min-width: @tablet-width) {
  .main-header__menu-burger--hidden {
    position: absolute;
    width: px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-header__menu-cat-logo-img {
    min-width: 174px;
    min-height: 51px;
  }

  .main-header__menu-svg-cat-energy {
    position: absolute;
    width: px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-header__menu__list {
    display: flex;
    min-width: 100%;
    margin-left: 94px;
    justify-content: space-between;
  }

  .main-header__menu__list-item {
    border: none;
    padding: 0;
    align-self: center;
  }

  .main-header__menu__list-item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__menu__list-item-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
  }

  .main-header__menu-cat-logo-img {
    min-width: 202px;
    min-height: 59px;
  }

  .main-header__menu__list {
    background-color: inherit;
  }
}
